<app-patient-nav></app-patient-nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <h2 class="mb-4">{{headerInput}}</h2>
                        <div><strong>Date Posted: </strong>{{date}}</div>
                        <div><strong>Author: </strong> {{author}}</div>
                        <div><strong>Tag: </strong> {{tags}}</div>
                        <div><strong>Description: </strong> {{bodyInput}}</div>
                        <div><strong>Sentiment: </strong> {{sentimentScore}}</div>
                    </div>
                </div>
                <button class="btn btn-danger" onclick="back()">Close</button>
            </div>
        </div>
    </div>
    
</div>

