<app-patient-nav></app-patient-nav>

<br>

<div class="container mt-5">
      <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="card shadow">
                  <div class="card card-body">
                        <div id="new-post-form">
                            <h1 class="mb-3" style="color:dodgerblue">New Journal Entry</h1>


                            <br>
                            
                            <div class="form-group">
                                <label for="ne_header" class="form-label">Journal Title</label>
                                <div class="input-group mb-3">
                                <input name="ne_header" id="ne_header" cols="30" rows="3" class="form-control" placeholder="Title" [(ngModel)]="headerInput">
                                </div>
                            </div>

                            <hr>

                            <div class="form-group">
                                <label for="ne_body" class="form-label">Description</label>
                                <div class="input-group mb-3">
                                    <textarea name="ne_body" id="ne_body" cols="30" rows="10" class="form-control" placeholder="What are you posting today?"[(ngModel)]="bodyInput"></textarea>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between align-content-center">
                                <div class="form-group col-sm-3">
                                    <div class="input-group mb-3">
                                        <input name="ne_tag" id="ne_tag" cols="30" rows="3" class="form-control" placeholder="Tags e.g. nsfw" [(ngModel)]="tags">
                                    </div>
                                </div>
    
                                <div class="form-check col-sm-3">
                                    <input class="form-check-input" type="checkbox" value="" id="public_check_default" (change)="changePrivacy()" [checked]="publicPost">
                                    <label class="form-check-label" for="public_check_default" style="color:slateblue">
                                        Make me Public
                                    </label>
                                </div>
                            </div>



                            <hr>

                            <div class="text-center mt-4">
                                <button id="new_entry_button" class="btn btn-dark mx-4" (click)="addEntry()">Post</button>
                            </div>

                            <br>

                            <div class="text-center" id="message" style="color:chocolate">{{message}}</div>

                        </div>
                  </div>
              </div>
          </div>
      </div>
</div>

<div class="row" style="margin: auto; width: 30%;">
    <h1>The sentimental value is {{newPost.sentimentScore}}</h1>
</div>
