.my-navbar{
    background-color: rgb(124, 132, 148, .8);
}
.my-card{
    background-color: rgb(124, 132, 148, .8);
    color: #f7f8f9;
}

.normalWords{
    color: #D7DBE2;
}

.darkWords{
    color: #25282c;
}

#normalWords{
    color: #acafb5;
}

.normalWords:hover{
    color: #f7f8f9;
}

.emphasisWords{
    color: #fbfbfc;
}

body{
    color: #f7f8f9;
    background: url(assets/constellations-wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn{
    background-color: #25282c;
    color: #D7DBE2;
}

.btn:hover{
    background-color: #32353b;
    color: #f7f8f9;
}

#error{
    color: #f7f8f9;
    background-color: #0C1019;
}

text {
    white-space: pre-wrap;
}

.tab{
    text-indent: 45px;
}

.noMargin{
    padding: 0px;
    margin: 0px;
}