<nav class="navbar navbar-expand-sm shadow-sm my-navbar">
    <a class="navbar-brand" href="/my-patients"><h3><span id="normalWords">Senti</span><span class="emphasisWords">Mental Health</span></h3></a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link normalWords" href="/professional/my-patients"> My Patients </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link normalWords" href="/professional/all-patients"> Add New Patient <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link normalWords" href="/professional/view-public"> Public <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link normalWords" href="/professional/login"> LogOut <span class="sr-only">(current)</span></a>
        </li>
    </ul>
</nav>
