<app-patient-nav></app-patient-nav>

<div class="wrapper">
    <div class="main card shadow my-card">
        <div class="card-body">
            <h2 class="text-center mb-5 noMargin  d-inline p-2">Public Entries</h2>
            <!--0-19 very negative, 20-39 negative, 40-59 neutral, 60-79 positive, 80-100-->
            <!-- <img class="emoji" src="assets/verypositive.png">
            <img class="emoji" src="assets/positive.png">
            <img class="emoji" src="assets/neutral.png">
            <img class="emoji" src="assets/negative.png">
            <img class="emoji" src="assets/verynegative.png"> -->
            <div *ngFor="let entry of entryArray">
                <hr>
                <table [routerLink] = "['/patient/history', entry.id]">
                    <tr>
                        <td>
                            <img *ngIf="entry.sentiment < 20"class="emoji" src="assets/verynegative.png">
                            <img *ngIf="entry.sentiment > 19 && entry.sentiment < 40"class="emoji" src="assets/negative.png">
                            <img *ngIf="entry.sentiment > 39 && entry.sentiment < 60"class="emoji" src="assets/neutral.png">
                            <img *ngIf="entry.sentiment > 59 && entry.sentiment < 80"class="emoji" src="assets/positive.png">
                            <img *ngIf="entry.sentiment > 79"class="emoji" src="assets/verypositive.png">
                        </td>
                        <td class="col-lg-12">
                            <h3>{{entry.title}}</h3>
                            <div class="tab">{{entry.datePosted | date}}</div>
                            <div class="tab">{{entry.patient.username}}</div>
                            <div class="tab">Tag: {{entry.tag}}</div>
                            <div class="ellipsis">{{entry.body}}</div>
                        </td>
                        <td>
                            <img id="arrow" src="assets/arrow.png">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div id = "tagOption" class="card shadow my-card">
            <div class="card-body">
                <div class="normalWords" (click)="changeIntroTag()">{{introTag}}</div>
                <div class="normalWords" (click)="changeCoroTag()">{{coroTag}}</div>
                <div class="normalWords" (click)="changeExpTag()">{{experienceTag}}</div>
                <div class="normalWords" (click)="changeHelpTag()">{{helpTag}}</div>
                <hr>
                <div class="text-center">
                    <div>
                        <input name="pu_tag" id="pu_tag" cols="30" rows="3" class="form-control" placeholder="Tag"  [(ngModel)]="tag">
                    </div>
                    <button class="btn" (click)="filterByTag()">Filter by Tag</button>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- Tags section -->
<!-- <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <div id = "tagOption" class="card my-card">
                <div class="card-body">
                    <div class="normalWords" (click)="changeIntroTag()">{{introTag}}</div>
                    <div class="normalWords" (click)="changeCoroTag()">{{coroTag}}</div>
                    <div class="normalWords" (click)="changeExpTag()">{{experienceTag}}</div>
                    <div class="normalWords" (click)="changeHelpTag()">{{helpTag}}</div>
                    <hr>
                    <div class="text-center">
                        <div>
                            <input name="pu_tag" id="pu_tag" cols="30" rows="3" class="form-control" placeholder="Tag"  [(ngModel)]="tag">
                        </div>
                        <button class="btn" (click)="filterByTag()">Filter by Tag</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg">
            <div class="card shadow my-card">
                <div class="card-body">
                    <h2 class="text-center mb-5 noMargin  d-inline p-2">Public Entries</h2>
                    <!--0-19 very negative, 20-39 negative, 40-59 neutral, 60-79 positive, 80-100-->
                    <!-- <img class="emoji" src="assets/verypositive.png">
                    <img class="emoji" src="assets/positive.png">
                    <img class="emoji" src="assets/neutral.png">
                    <img class="emoji" src="assets/negative.png">
                    <img class="emoji" src="assets/verynegative.png"> -->
                    <!-- <div *ngFor="let entry of entryArray">
                        <hr>
                        <table [routerLink] = "['/patient/history', entry.id]">
                            <tr>
                                <td>
                                    <img *ngIf="entry.sentiment < 20"class="emoji" src="assets/verynegative.png">
                                    <img *ngIf="entry.sentiment > 19 && entry.sentiment < 40"class="emoji" src="assets/negative.png">
                                    <img *ngIf="entry.sentiment > 39 && entry.sentiment < 60"class="emoji" src="assets/neutral.png">
                                    <img *ngIf="entry.sentiment > 59 && entry.sentiment < 80"class="emoji" src="assets/positive.png">
                                    <img *ngIf="entry.sentiment > 79"class="emoji" src="assets/verypositive.png">
                                </td>
                                <td class="col-lg-12">
                                    <h3>{{entry.title}}</h3>
                                    <div class="tab">{{entry.datePosted | date}}</div>
                                    <div class="tab">{{entry.patient.username}}</div>
                                    <div class="tab">Tag: {{entry.tag}}</div>
                                    <div class="ellipsis">{{entry.body}}</div>
                                </td>
                                <td>
                                    <img id="arrow" src="assets/arrow.png">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
